@model MAPMA_WebClient.EscRef.EscapeRoom_ServicesClient

@{
    ViewBag.Title = "GetAllEscapeRoomDetails";
}

<h2>GetAllEscapeRoomDetails</h2>

<div>
    <h4>EscapeRoom_ServicesClient</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
